
*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width:100%;
  display:flex;
  flex-wrap:wrap;
}

.title{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  display:flex;
  flex-wrap:wrap;
  border-bottom: 3px solid #7d97ad;
  text-transform: uppercase;
  color: #2d3c49;
}

.title-logo{
  padding-left: 1em;
  margin-top: 33.5px;
}

.title-text{
  text-align: right;
  padding-right: 1em;
}

.title-text1{
  font-size: 56px;
  margin-bottom: 5px;
}

.title-text2{
  font-size: 28px;
  margin-top: 5px;
}

.main-image{
  width:1200px;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.row{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  color:#7d97ad;
  font-size: 24px;
}

.row-header{
  margin-top:1em;;
  margin-bottom: 0em;
}

.lower-section{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-wrap:wrap;
}

.lower-section-box{
  text-align: center;
}

.project-image{
  padding: 1em;
}

.project-name{
  font-size: 36px;
  margin-top: 0em;
  margin-bottom: 0em;
  text-transform: uppercase;
}

.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

@media screen and (max-width:850px){
  .title-text1{
    font-size: 32px;
  }
  .title-text2{
    font-size:16px;
  }
  .title-text{
    height:100px;
  }
  .title-logo{
    height:80px;
    width:80px;
    padding-top: 22px;
    margin-top: 0px;
  }
  .title{
    border-bottom: 2px solid #7d97ad;
    padding-bottom: 0.5em;
  }
  .row-header{
    font-size: 24px;
  }
  .project-name{
    font-size:24px;
  }
  .main-image{
    padding-top: 1em;
  }
}

@media screen and (max-width:500px){
  .col-md-6 {
    width: 100%;
  }
  .title-text{
    text-align: left;
    padding-left: 1em;
  }
  .col-md-4 {
    width:50%
  }
  .row-header{
    font-size: 18px;
  }
  .project-name{
    font-size:18px;
  }
  .main-image{
    padding-top: 0.5em;
  }
}
